<div class="container py-16 h-full max-w-screen-sm m-auto flex flex-col items-center justify-between">
  <header>
    <app-header [title_color]="'text-white'" />
  </header>
  <main>
    <h2 style="text-shadow:0 0 8px rgba(0,0,0,67%);"
      class="text-[1.3rem] font-[800] text-gray-100 text-center tracking-wider">Quiz informatique</h2>
  </main>
  <footer class="">
    <section id="author" aria-label="nom de l'auteur de l'application" class="">
      <p style="text-shadow:0 0 8px rgba(0,0,0,67%); font-size:0.75rem"
        class="font-medium text-center text-gray-100  tracking-wide">
        Made by</p>
      <p style="text-shadow:0 0 8px rgba(0,0,0,67%);"
        class="font-bold text-sm text-gray-100 text-center tracking-wider">
        Bienvenu Kajirifo Luc
      </p>
    </section>
    <section id="progess_bar_container" class="mt-12 flex gap-y-1 items-center flex-col">
      <div id="progress_bar_container" class="border-[3px] border-yellow-200 h-[14px] w-48 rounded-xl">

        <div id="progress_bar_content" class="bg-[rgba(0,0,0,70%)] h-full rounded-xl w-0" [style]="w_progress()"></div>
      </div>
      <div id="progress_counter" style="text-shadow:0 0 8px rgba(255, 209, 102, 0.685);"
        class="text-[0.7rem] text-center text-yellow-200 font-bold tracking-[0.069rem]">
        {{ progress_counter() }} %
      </div>
    </section>
  </footer>
</div>
